@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
    background-image: url('../img/bg-img-header.png');
    background-position: center center;
    background-size: cover;
    height: 440px;
    width: 100%;
    opacity: 0.9;
}

header h1 {
    font-size: 2.1em;
}

header .head,nav {
    text-align: center;
    color: white;
    transform: translateY(250%);
}

header p {
    margin: auto;
    max-width: 800px;
    padding-top: 8px;
    font-size: 1.1em;
}

header nav {
    padding: 25px;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 1px solid rgb(94, 94, 94);
    background-color: rgb(53, 53, 53);
}
/* main */

main {
    text-align: center;
    align-items: center;
    
}

main > article{
    display: inline-block;
    padding: 20px;
}

main article p {
    padding-top: 20px;
    display: inline-flex;
    max-width: 350px;
    color: rgb(121, 121, 121);
}

/* section */

.section {
    background-color: rgb(54, 54, 54);
    display: inline-block;
    align-items: flex-end;
}

.section .article {
    background-color: white;
    max-width: 300px;
    min-width: 200px;
    max-height: 600px;
    display: inline-block;
}

.section article img {
    max-width: 300px;
}

.section .article h3 {
    padding: 45px 0 25px 0;
}

.section .article p {
    font-size: 1em;
    padding: 0 25px 30px 25px;
}

.section span {
    padding: 50px;
     display: grid; 
}