
table,td {
    text-align: center;
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    cursor: auto;
}

tr.cab {
    background-color: gray;
}

tfoot th {
    background-color: black;
}